{% extends 'base.html' %}

{% block title %}Our Blog{% endblock %}

{% block content %}
   <h2 class="page-header">Recents Posts</h2>
    <div class="mb-4">
        <a href="{% url 'post_create' %}" class="btn btn-primary">New article</a>
    </div>
    {% if post_list %}
        {% for post in post_list %}
           <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
            <p class="small">Published {{ post.publish }} by {{ post.author }}</p>
            <p>{{ post.body|truncatewords:25|linebreaks }}</p>
        {% endfor %}
    {% else %}
        <p>There are no posts in the library.</p>
    {% endif %}
{% endblock %}