{% extends 'base.html' %}

{% block title %}Our Blog{% endblock %}

{% block content %}
   <h2 class="page-header">Recents Articles</h2>
    <div class="mb-4">
        <a href="{% url 'articles:article-create' %}" class="btn btn-primary">New article</a>
    </div>
    {% if article_list %}
        {% for article in article_list %}
           <h3><a href="{% url 'articles:article-detail' article.pk %}">{{ article.title }}</a></h3>
            <p class="small">Published {{ article.publish }} by {{ article.author }}</p>
            <p>{{ article.body|truncatewords:25|linebreaks }}</p>
        {% endfor %}
    {% else %}
        <p>There are no articles in the library.</p>
    {% endif %}
{% endblock %}